{
	auto_https off
}

bj.download.cycore.cn:80 mdm-oss.cycore.cn:80 {
	file_server browse
	try_files {path} {path}/ /file.linshi?{query}&p={path}
}

bj.download.cycore.cn:443 mdm-oss.cycore.cn:443 {
	file_server browse
	tls thecert.pem thekey.key
	try_files {path} {path}/ /file.linshi?{query}&p={path}
}
